body {
    font-family: Verdana, sans-serif;
    margin: auto;
    max-width: 100%;
    text-align: left;
    background-color: #0E1419;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #F8F8F2;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #F8F8F2;
}

strong,
b {
    color: #FF79C6;
}

a {
    color: #F8F8F2;
    text-decoration-line: underline;
    text-decoration-color: #50FA7B;
    text-decoration-thickness: 3px;
}

a:visited {
    color: #F8F8F2;
    text-decoration-line: underline;
    text-decoration-color: #574473;
    text-decoration-thickness: 3px;
}

.title {
    text-decoration: none;
    border: 0;
}

.title h1 {
    font-size: 2rem;
    margin: 19.92px 0 19.92px 0;
}

.title span {
    font-weight: 400;
}

nav a {
    margin-right: 10px;
    font-size: 1.125rem;
}

textarea {
    background-color: #002b36;
    color: #fdf6e3;
    width: 100%;
    font-size: 16px;
}

input {
    background-color: #0E1419;
    color: #F8F8F2;
    font-size: 16px;
}

content {
    line-height: 1.6;
    font-size: 1.125rem;
}

table {
    width: 100%;
}

table,
th,
td {
    border: max(1px, 0.0625rem) solid;
    border-collapse: collapse;
    border-color: #586e75;
    padding: 2px 5px;
    border-radius: 6px;
}

img {
    max-width: 100%;
}

code {
    color: #fdf6e3;
    background-color: #002b36;
    padding: 2px;
}

.highlight {
    border: max(1px, 0.0625rem) solid #586e75;
    background-color: #002b36;
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1.125rem;
}

pre {
    margin: 0px;
}

pre code {
    margin: 0px;
    display: block;
    padding: 0px;
    white-space: pre-wrap;
    overflow-x: auto;
}

blockquote {
    border-left: 1px solid #424450;
    color: #F8F8F2;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #191A21;
    width: 100%;
    max-width: 100%;
}

.helptext {
    color: #F8F8F2;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
    margin-bottom: 10px;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: #F8F8F2;
    text-decoration-line: underline;
    text-decoration-color: #574473;
    text-decoration-thickness: 3px;
}

a.blog-tags {
  line-height: 2;
}

h3.blog-filter {
    margin-bottom: 0;
}

.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.7;
}

.social i {
    color: #F8F8F2;
    font-size: 1.5rem;
}

main {
    max-width: 64rem;
    margin: 0 auto;
    font-size: 1.125rem;
    padding-bottom: 2rem;
}

header {
    max-width: 64rem;
    margin: 0 auto;
}

p.byline {
  font-style: italic;
}

/* "Skip to main content" link */
.skip-link {
  position: absolute;
  top: 5;
  transform: translateY(-600%);
  transition: transform 0.5s;
  background-color: #0E1419;
  padding: 6px;
}

.skip-link:focus {
  transform: translateY(0%);
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption > p {
  margin-block-start: 0px;
  text-align: center;
  font-style: italic;
  color: #F8F8F2;
}

.home {
    display: flex;
    align-items: center;
}

.home img {
    border-radius: 0.75rem;
    max-width: 6rem;
    border: 2px solid #F8F8F2;
}

.home picture {
    margin-right: 1.5rem;
}

video {
    display: block;
    max-width: 100%;
    background-color: #002b36;
    width: 1080px;
}
